<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/inicio.css">
</head>
<body>
    <header class="head">
        Welcome to <%= nombre %>
    </header>
    <div class="card">
        <div class="card-body">
            <div class="title-container">
                <h1 class="card-title">Main Forum</h1>
                <a type="button" class="btn btn-success"  href="/aggregate">
                    Create
                </a>
            </div>   
                <table class="table tabla">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Image(Optional)</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% foros.forEach((item) => { %>
                            <tr>
                              <th scope="row"><%= item.id %></th>
                              <td>
                                  <p type="button" class="btn btn-dark disabled falsebutton"><%= item.title %></p>
                              </td>
                              <td>
                                  <p type="button" class="btn btn-dark disabled falsebutton"><%= item.content %></p>
                              </td>
                              <td>
                                  <p type="button" class="btn btn-dark disabled falsebutton"><%= item.date  %></p>
                              </td>
                              <td>
                                <% if (item.image) { %>
                                    <img src="<%= item.image %>" alt="Image">
                                <% } else { %>
                                    No image
                                <% } %>
                              </td>
                              <td>
                                  <a type="button" class="btn btn-primary falsebutton" href="/edit/<%= item.id %>">Edit</a>
                              </td>
                              <td>
                                  <a type="button" class="btn btn-danger falsebutton" href="/delete/<%= item.id %>">Delete</a>
                              </td>

                            </tr>
                    <% }) %>
                    </tbody>
                </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>